.video-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-card-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.video-box{
    border-radius: 15px;
}
.video-title{
    font-weight: bold;
}

.time-elapsed{
    color: #666361;
}

.auth-button{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.user-page-bt{
    cursor: pointer;
    /* margin: 12px 20px 0px 20px; */
    border-radius: 3px;
    width: 50px;
    height: 20px;
    border: none;
    background-color: #287ce9;
    color: white;
    text-align: center;
    font-size: 15px;
}

#banner{
    width: 1800px;
    height: 350px;
    margin-bottom: 50px;

}

#ul-h3{
    text-align: center;

}

#file-input{
    margin: 5px;
    width: 290px;
}

input[type=file]::file-selector-button{
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s
}
input[type=file]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
  }

#ulp-icon{
    width: 300px;
    margin-bottom: 40px;
}

.error-list{
    color: red;
}

.input-file-container{
    border: 1px solid #e5e5e5;
    margin: 20px;
}
